    <h2 id="header-books">Books in our store</h2>
    <div class="search">
        <input type="text" id="search-value" class="form-control input-sm" maxlength="64" placeholder="Search books" />
        <button type="submit" id="search-btn" class="btn btn-primary btn-sm">Search</button>
    </div>
    {{#each books.book}}
        <div class="book col-md-2" id="{{_id}}">
            <img class="book-cover" src="{{imgURL}}" alt="bookCover">
            <ul class='book-info'>
                <li> <b>Title: </b><span>{{title}}</span> </li>
                <li> <b>Author: </b><span>{{author}}</span></li>
                <li> <b>Year: </b><span>{{year}}</span></li>
            </ul>
        </div>
    {{/each}}
    <div class="row">
        <ul class="pagination">
            <!--<li class="page-item">
                 <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                 </a>
            </li>-->
            {{#if books.hasQuery}}
                 {{#each books.size}}
                 <li class="page-item"><a href="#search/{{this}}&{{inc @index}}" class="page-link" >{{inc @index}}</a></li>
                 {{/each}}
            {{else}}
                 {{#each books.size}}
                 <li class="page-item"><a href="#books/page/{{inc @index}}" class="page-link" >{{inc @index}}</a></li>
                 {{/each}}
            {{/if}}
            <!--<li class="page-item">
               <a class="page-link" href="#" aria-label="Next">
                   <span aria-hidden="true">&raquo;</span>
                   <span class="sr-only">Next</span>
               </a>
            </li>-->
        </ul>
    </div>