{{#book}}
<div class="container" id="single-book-page">
   <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5" id="single-book-cover">
           <img src="{{imgURL}}" alt="book cover">
       </div>
       <div class=" col-lg-7" id="single-book-info">
           <h2>{{title}}</h2>
           <p>
               <span><b>Author: </b>{{author}}</span>
               <span><b>Year: </b>{{year}}</span>
               <span><b>Category: </b>{{category}}</span>
           </p>
           <p>
               <span><b>Description: </b>{{description}}</span>
           </p>
       </div>
   </div>
</div>
{{/book}}