{{#book}}
<div class="container" id="single-book-page">
   <div class="row">
       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5" id="single-book-cover">
           <img src="{{_imgURL}}" alt="book cover">
       </div>
       <div class=" col-xs-0 col-sm-0 col-md-0 col-lg-7" id="single-book-info">
           <h2>{{_title}}</h2>
           <p>
               <span><b>Author: </b>{{_author}}</span>
               <span><b>Year: </b>{{_year}}</span>
               <span><b>Category: </b>{{_category}}</span>
               <span id="bookPrice"><b>Price: </b>{{_price}}$</span>
           </p>
           <p>
               <span><b>Description: </b>{{_description}}</span>
           </p>
       </div>
       <div class=" col-xs-12 col-sm-12 col-md-12 col-lg-5" id="single-book-info">
            <button class="btn btn-success" id="like-btn" type="submit">Likes <i id='likes'>{{likes}}</i></button>
       </div>
       <div class="  col-lg-2" id="single-book-cart">
            <button class="btn btn-primary" id="add-to-cart-btn" type="submit">Add to cart</button>
       </div> 
     </div>
</div>
{{/book}}
